body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    margin-bottom: 15px;
    float: right;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 30px;
}
.comment-reply {
    margin: 10px 0;
}

.reply-time {
    float: right;
}
.reply .icon{
    margin: 5px;
    cursor: pointer;
}
.reply .icon:hover{
    color: blue;
}
.comment2reply {
    width: 700px;
}
.page-style{
    float: right;
}
.question-function{
    margin: 10px;
}

.side-bottom{
    margin: 30px 500px;
    color:#999;
}


