<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
<center>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="jumbotron">
            <h1>我也不知道出了什么错</h1>
            <h1>反正就是出错啦</h1>
            <h3><p style="color: red" th:text="${msg}"><br></p></h3>
            <p class="text-desc">没办法<br>技术有限难以解决<br>QAQ</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">点击返回主页</a></p>
        </div>
    </div>
</center>
<div th:replace="side::down"></div>
</body>
</html>