<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>

<div th:insert="side :: topside"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div th:replace="side::leftbody"></div>
            <nav aria-label="Page navigation" class="page-style">
                <ul class="pagination">
                    <li th:if="${questions.showFirstPage}">
                        <a href="/?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showPrevious}">
                        <a th:href="@{/(page=${pageId}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${questions.pages}" th:class="${pageId==page}?'active':''">
                        <a th:href="@{/(page=${page})}" name="page" th:text="${page}">1</a>
                    </li>
                    <li th:if="${questions.showNext}">
                        <a th:href="@{/(page=${pageId+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showEndPage}">
                        <a th:href="@{/(page=${questions.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>热门话题</h3>
            这是热门话题的内容+++++
        </div>

    </div>
</div>
</body>
</html>