<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>

<div th:insert="side :: topside"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-question-sign"
                      aria-hidden="true"></span>我的问题</h2>
            <hr>
            <div th:replace="side::leftbody"></div>
            <nav aria-label="Page navigation" class="page-style">
                <ul class="pagination">
                    <li th:if="${questions.showFirstPage}">
                        <a th:href="@{/profile(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showPrevious}">
                        <a th:href="@{/profile(page=${pageId}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${questions.pages}" th:class="${pageId==page}?'active':''">
                        <a th:href="@{/profile(page=${page})}" name="page" th:text="${page}">1</a>
                    </li>
                    <li th:if="${questions.showNext}">
                        <a th:href="@{/profile(page=${pageId+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showEndPage}">
                        <a th:href="@{/profile(page=${questions.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="#"
                   class="list-group-item active">我的问题</a>
                <a href="/reply" th:class="list-group-item">
                    最新回复
                    <span class="badge" th:text="${count}">14</span>
                </a>
            </div>
        </div>

    </div>
</div>
<div th:replace="side::down"></div>
</body>
</html>