<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>

<div th:insert="side :: topside"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-question-sign"
                      th:class="${section=='questions'}?'glyphicon glyphicon-question-sign':'glyphicon glyphicon-info-sign'"
                      aria-hidden="true"></span>[[${sectionName}]]</h2>
            <hr>
            <div th:replace="side::leftbody"></div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${questions.showFirstPage}">
                        <a href="/profile/questions?page=1" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showPrevious}">
                        <a th:href="@{/profile/questions(page=${pageId}-1)}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${questions.pages}" th:class="${pageId==page}?'active':''">
                        <a th:href="@{/profile/questions(page=${page})}" name="page" th:text="${page}">1</a>
                    </li>
                    <li th:if="${questions.showNext}">
                        <a th:href="@{/profile/questions(page=${pageId+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${questions.showEndPage}">
                        <a th:href="@{/profile/questions(page=${questions.totalPage})}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的问题</a>
                <a href="#" th:class="${section=='replies'}?'list-group-item active':'list-group-item'">
                    最新回复
                    <span class="badge">14</span>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>