<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.min.css" />
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script src="/editor.md/editormd.min.js"></script>



</head>
<body>

<div th:insert="side :: topside"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>提问</h2>
            <hr>

            <form action="/publish" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">简要问题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题" th:value="${title}">
                </div>
                <label for="title">问题补充</label>
                <div class="form-group" id="editor">

                    <textarea style="display:none;" name="description" id="description" class="form-control" cols="30" rows="10" th:text="${description}"></textarea>
                </div>
                <script type="text/javascript">
                    $(function() {
                            editormd("editor", {
                            width: "100%",
                            height: "350px",
                            delay: 0,
                            watch:false,
                            path : "/editor.md/lib/"
                        });
                    });
                </script>
                <div class="form-group">
                    <label for="title">添加标签</label>
                    <input type="text" name="tag" class="form-control" id="tag" placeholder="输入标签，以逗号分隔" th:value="${tag}">
                </div>
                <div class="alert alert-danger" role="alert" th:if="${error}" th:text="${error}">...</div>
                <button type="submit" class="btn btn-success btn-publish" >发布</button>

            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>问题发起指南</h3>
            标签用逗号隔开
        </div>

    </div>
</div>
</body>
</html>