<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boke.css">
    <link rel="stylesheet" href="/editor.md/css/editormd.preview.css" />
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/boke.js"></script>
    <script src="/editor.md/editormd.js"></script>
    <script src="/editor.md/lib/marked.min.js"></script>
    <script src="/editor.md/lib/prettify.min.js"></script>

</head>
<body>

<div th:insert="side :: topside"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>[[${question.title}]]</h2>
            <span class="text-desc" th:text="'作者:'+${question.user.name}"></span>
            <span class="text-desc" th:text="'|浏览数:'+${question.viewCount}"></span>
            <span class="text-desc" th:text="'|点赞数:'+${question.likeCount}"></span>
            <span class="text-desc" th:text="'|时间:'+${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span>
            <hr>

            <div id="test-markdown-view">
                <!-- Server-side output Markdown text -->
                <textarea style="display:none;" th:text="${question.description}">### Hello world!</textarea>
            </div>


            <script type="text/javascript">
                $(function() {
                    var testView = editormd.markdownToHTML("test-markdown-view", {
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <hr>
            <div class="text-desc" th:if="${session.githubUser}"><a th:href="@{/publish/}+${question.id}"
                                                                    th:if="${session.githubUser.id==question.user.id}"><span
                    class="glyphicon glyphicon-pencil" aria-hidden="true"></span>编辑</a></div>
            这里可以加快速回复功能
            <hr>
            <h4><span class="glyphicon glyphicon-tasks"></span> [[${question.commentCount}]]条回复</h4>
            <hr id="fu">
            <div  class="media" th:each="comment:${comments}" th:if="${comment.type==0}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" width="40px" th:src="${comment.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">[[${comment.user.name}]]</h4>
                    <h4 class="text-desc">[[${comment.context}]]</h4>
                    <div class="reply">
                        <span class="glyphicon glyphicon-thumbs-up icon text-desc"></span>
                        <span class="glyphicon glyphicon-comment icon text-desc" th:data="${comment.id}"
                              onclick="comment_reply(this)"></span>
                        <span class="text-desc reply-time"
                              th:text="${#dates.format(comment.gmtModified,'yyyy-MM-dd HH:mm:ss')}"></span><br>


                        <span class="collapse" th:id="'comment-'+${comment.id}">
                            <!--二级评论点-->

                     <div class="media" th:each="comment2:${comments}" th:if="${comment2.type == comment.id}">
                            <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" width="40px" th:src="${comment2.user.avatarUrl}">
                            </a>
                            </div>
                            <div class="media-body">
                                <h4 class="text-desc" >[[${comment2.context}]]</h4>
                            </div>
                    </div>
                            <textarea name="description" th:id="'context'+${comment.id}" class="form-control comment-reply comment2reply"></textarea>
                            <input type="hidden" th:id="'parentId'+${comment.id}" th:value="${question.id}">
                            <input type="hidden" th:id="'commentator'+${comment.id}" th:value="${session.githubUser.id}">
                            <input type="hidden" th:id="'type'+${comment.id}" th:value="${comment.id}">
                            <button type="submit" class="btn btn-success btn-publish" th:data="${comment.id}" onclick="reply2(this)">评论</button>

                        </span>
                    </div>

                </div>
            </div>

            <hr>
            <div id="reply-square" th:if="${session.githubUser}">
                <div class="media">
                    <div class="media-heading">发表回复</div>
                    <div class="media-left">
                        <img class="media-object img-rounded" width="40px" th:src="${session.githubUser.avatarUrl}">
                    </div>
                    <div class="media-body">
                        <h4 th:text="${session.githubUser.name}"></h4>
                    </div>
                </div>
                <div class="form-group">
                <textarea name="description" id="context" class="form-control comment-reply" cols="30"
                          rows="10"></textarea>

                    <input type="hidden" id="parentId" th:value="${question.id}">
                    <input type="hidden" id="commentator" th:value="${session.githubUser.id}">
                    <button type="submit" class="btn btn-success btn-publish" onclick="reply()">回复</button>
                </div>
            </div>


        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" width="40px" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4><a href="#" th:text="${question.user.name}"></a></h4>
                    </div>
                </div>
                <hr>
                <h4>相关问题</h4>
            </div>
        </div>

    </div>
</div>
</body>
</html>